@{
	ViewData["Title"] = "Home Page";
	List<Book> recentlyAdded = ViewBag.recentBooks;
}

@model IEnumerable<Book>

<section>
	<div class="container ">
		<div class="row">
			<div class="col-md-12">

						<div class="short-popular-category-list text-center">
						<h2>Popular Categories</h2>
						<ul class="list-inline">
							<li class="list-inline-item">
								<a asp-controller="Home" asp-action="ViewbyCategoury" asp-route-CategouryID="1"><i class="fa fa-book"></i> Sci-Fi</a>
							</li>
							<li class="list-inline-item">
								<a asp-controller="Home" asp-action="ViewbyCategoury" asp-route-CategouryID="3"><i class="fa fa-book"></i>True Crime</a>
							</li>
							<li class="list-inline-item">
								<a asp-controller="Home" asp-action="ViewbyCategoury" asp-route-CategouryID="6"><i class="fa fa-book">Action and Adventure</i></a>
							</li>
							<li class="list-inline-item">
								<a asp-controller="Home" asp-action="ViewbyCategoury" asp-route-CategouryID="5"><i class="fa fa-book"></i>Fantasy</a>
							</li>
							<li class="list-inline-item">
								<a asp-controller="Home" asp-action="ViewbyCategoury" asp-route-CategouryID="7"><i class="fa fa-book"></i>Historical Fiction</a>
							</li>
							<li class="list-inline-item">
								<a asp-controller="Home" asp-action="ViewbyCategoury" asp-route-CategouryID="2"><i class="fa fa-book"></i>Horror</a>
							</li>
							<li class="list-inline-item">
								<a asp-controller="Home" asp-action="ViewbyCategoury" asp-route-CategouryID="9"><i class="fa fa-book"></i>Graphic Novel</a>
							</li>
						</ul>
					</div>



				<div class="advance-search">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-12 col-md-12 align-content-center">
								<form asp-controller="Home" asp-action="All" method="get">
									<div class="form-row text-center">
										<div class="form-group col-lg-3 col-md-4"></div>
										<div class="form-group col-xl-4 col-lg-3 col-md-6">
											<input type="text" class="form-control my-2 my-lg-1" id="inputtext4" name="userSearch"
												   placeholder="Find a Book">
										</div>

										<div class="form-group col-lg-3 col-md-4">

											<select class="w-100 form-control mt-lg-1 mt-md-2" onsubmit="this.form.submit()" name="genreName" asp-items="@ViewBag.genreList">
												<option selected="true">Search By Genre</option>
											</select>

										</div>


										<div class="form-group col-xl-2 col-lg-3 col-md-6 align-self-center">
											<button type="submit" class="btn btn-primary active w-100">Search Now</button>
										</div>

									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="bg-white">

<div class="container bootstrap snipets ">
		@if (recentlyAdded.Count > 0)
		{
			<h1 class="text-center text-muted">Catalog</h1>

		}
	<br />
	<div class="row flow-offset-3 ">
		@foreach (Book b in recentlyAdded)
		{

			<div class="col-xs-6 col-md-4">
				<div class="thumb-content">
					<div class="product tumbnail thumbnail-1">
						<a href="#"><img src="~/img/@b.ImagePath" alt="" class="card-img-top w-50 h-auto"></a>
					</div>
					<div class="caption">
						<h6 class="text-center">@b.Title</h6>

						<ul class="list-inline product-meta text-center">
							<li class="list-inline-item">
								<i class="fa fa-folder-open-o"></i>@b.Genre.Name
							</li>
							<li class="list-inline-item">
								<i class="fa"></i>$@b.Price
							</li>
						</ul>

					</div>
					<div class="text-center">
						<form method="post" asp-controller="Cart" asp-action="AddCartItem">
							<input type="hidden" id="isAuthenticated" value="@User.Identity.IsAuthenticated.ToString().ToLower()" />
							<input type="hidden" name="id" value="@b.Id" />
							<input type="hidden" name="quantity" value="1" />
							<button type="submit" id="cartButton2" class="btn btn-primary">Add to Cart</button>
						</form>
					</div>
				</div>

			</div>
		}
			
		</div>
		<br />
		<br />
		</div>
	</div>
</div>

</div>



