@model Book

<br />
<br />
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
<div class="card">    
    <div class="card-body">
        <h3>@Model.Title</h3>
    </div>

    <ul class="list-group list-group-flush">
        <li class="text-center"><img src="~/img/@Model.ImagePath" alt="book image" width="110" height="180" ></li>
        <li class="list-group-item"><b>Author:  </b>@Model.Author</li>
        <li class="list-group-item"><b>Publisher:  </b>@Model.Publisher</li> 
        <li class="list-group-item"><b>Genre:  </b>@Model.Genre.Name</li>
        <li class="list-group-item"><b>Date Added:  </b>@Model.DateAdded.ToShortDateString()</li>
        
        
    </ul>
    <div class="card-body">
        <a asp-action="All" class="btn btn-outline-primary">Back to All Books</a>
                @if (User.IsInRole("admin")) {
                    <a asp-action="Edit" asp-route-id=@Model.Id class="btn btn-outline-primary">Edit</a>
                }
    </div>
</div>
</div>
</div>